*.class

# Package Files #
*.jar
*.war
*.ear
gen/
bin/*
bin/classes/*
*.pdf
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

# android
proguard-project.txt
project.properties
ant.properties
bin/classes/*

download/ignore
local.properties
run.sh
build.xml
javadoc.xml
doc/